#pagination {
    .pagination__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ant-select-selector {
        border-radius: 1.2rem;
        border-color: #ECF0F4;
    }

    @media screen and (max-width: $bp-s) {
        .pagination__inner {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.6rem;
        }
    }
}

#per-page {
    .per-page__inner {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .per-page__title {
        // @include t-1;
    }
    .ant-select:hover .ant-select-selector {
        border-color: var(--theme-primary);
    }
    .ant-select-focused .ant-select-selector {
        border-color: var(--theme-primary);
    }
}

#page-list {
    .ant-pagination {
        .ant-pagination-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            font-size: 1.6rem;
            font-weight: 700;
            // transition: all 0.3s;
            a {
                transition: none;
            }
        }
        .ant-pagination-item-active {
            background: var(--theme-primary);
            border-color: var(--theme-primary);
            a {
                color: $color-white;
            }
        }
        .anticon-double-right,
        .anticon-double-left  {
            color: var(--theme-primary);
        }

        .ant-pagination-prev,
        .ant-pagination-next {
            width: 4rem;
            height: 4rem;
        }

        .ant-pagination-item-link {
            border: 1px solid #ECF0F4;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }
    }

    @media screen and (max-width: $bp-s) {
        align-self: center;
    }
}
