.form-login {
    .form__inner {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .form-section_top {
        gap: 1.5rem;
    }
    .form-section_center {
        gap: 1rem;
    }

    .form__title {
        font-size: 3.2rem;
        font-weight: 700;
        color: $color-black;
        @include h-2;
    }

    .btn-login {
        height: 6rem;
    }

    .eye-svg,
    .eye-crossed-svg {
        width: 1.8rem;
    }
}

@media screen and (max-width: $bp-l) {
    .form-login {
        .form__inner {
            gap: 2rem;
        }
        .btn-login {
            height: 5.6rem;
        }
    }
}

@media screen and (max-width: $bp-s) {
    .form-login {
        .form__title {
        }
    }
}
