.page {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    .page-header-offset {
        display: flex;
        margin-top: $header-height;
        flex-grow: 1;
    }

    .page__inner {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}
