:root {
    --theme-primary: #FF9F43;
    --theme-dashboard: #FFFFFF;
    --theme-background: #FAFBFE;
    --theme-text: #67748E;
    --theme-text-light: #637381;
}
$theme-primary: --theme-primary;
$theme-dashboard: --theme-dashboard;
$theme-background: --theme-background;

// Default theme
$theme-map-light: (
    $theme-primary: #FF9F43,
    $theme-dashboard: #FFFFFF,
    $theme-background: #FAFBFE,
);

// Override the default light theme
$theme-map-dark: (
    $theme-primary: #FF9F43,
    $theme-dashboard: #2F4858,
    $theme-background: #4D597F,
);

@mixin spread-map($map) {
    @each $key, $value in $map {
        #{$key}: $value;
    }
}

:root.light {
    @include spread-map($theme-map-light);
}
:root.dark {
    @include spread-map($theme-map-dark);
}