/* COLORS */

$color-white: #ffffff;
$color-black: #2f3032;
$color-blue: #2275fc;
$color-blue-light: #B0E7FF;
$color-red: #FF5200;
$color-green: #22C55E;
$color-orange: #FFBA93;
$color-purple: #8F77F3;
$color-yellow: #FFE99A;
$color-gray: #dee2e6;
$color-gray-blue-light: #CBD5E1;


$color-gray-dark: #2f3042;
$color-gray-dark-l: #637381;
$color-gray-dark-m: #f5f5f5;
$color-blue-gray: #9aa2b1;


$color-blue-light: #e8edff;
$color-blue-light-2: #E4F2FF;
$color-blue-dark: #1b2950;
$color-blue-dark-l: #212b36;


$color-bg: #EFF4F8;
$color-border: #ecf0f4;
$color-placeholder: #BFB1BD;

$color-font-black: #111111;
$color-font-gray: #575864;
$color-font-gray-light: #95989d;
$color-font-icon: $color-gray-blue-light;

$color-primary: $color-blue;

/* SIZES */

$account-header-height-l: 8rem;
$account-header-height-ms: 7.5rem;

$sidebar-width-full: 26rem;
$sidebar-width-short: 9.5rem;

$container-max-width: 192rem;

/* Z-Index */
$mainZ: 10;

/* BREAKPOINTS */
$bp-xl: 2039px;
$bp-l: 1919px;
$bp-m: 1439px;
$bp-ms: 1149px;
$bp-s: 767px;

/* FONTS */
$font-tisa: "Tisa", sans-serif;
$font-nunito: "Nunito", sans-serif;

$font-primary: $font-tisa;

:export {
    colorPrimary: $color-primary;
    colorPurple: $color-purple;
    colorBlue: $color-blue;
    colorOrange: $color-orange;
    colorYellow: $color-yellow;
    colorGreen: $color-green;
    colorRed: $color-red;
    bpXl: $bp-xl;
    bpL: $bp-l;
    bpM: $bp-m;
    bpMs: $bp-ms;
    bpS: $bp-s;
    fontPrimary: $font-primary;
}
