.btn-toggle {
    background: var(--theme-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: $color-white;
    cursor: pointer;
    transition: all 0.3s 0.3s;
    will-change: transform;
    padding: 2px;

    transform: rotate(180deg);
    &_active {
        transform: rotate(0deg);
    }

    &-svg {
        height: 100%;
        width: 100%;
    }
}
