.btn-toggle {
    position: absolute;
    top: calc($account-header-height-l / 2 - 2rem);
    right: 0;

    width: 1.6rem;
    height: 4rem;

    background: $color-blue;
    color: $color-white;
    border-radius: 10px 0 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transform: translateX(100%) rotate(180deg);
    transition: none;
    .arrow {
        height: 8px;
        width: 8px;
        border-left: 2px solid $color-white;
        border-bottom: 2px solid $color-white;

        transform: rotate(45deg) translate(2px, -2px);
    }
    &_active {
        transform: none;
    }
}

@media screen and (max-width: $bp-ms) {
    .btn-toggle {
        position: relative;

        width: 2.6rem;
        height: 2.6rem;
        border-radius: 100%;

        // top: 2.5rem;
        // left: 2rem;
        transform: rotate(180deg);

        .arrow {
            transform: rotate(45deg) translate(1px, -1px);
        }
        &_active {
            transform: none;
        }
    }
}
