.sidebar {
    width: $sidebar-width-full;
    transition: all 0.3s;
    flex-shrink: 0;

    background-color: $color-white;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);

    z-index: 2;

    .sidebar-menu {
        padding: 2rem 4rem;
    }
    .menu__item {
        position: relative;
        display: flex;
        align-items: center;

        padding: 1.4rem 0;

        font-weight: 400;
        font-size: 1.8rem;
        color: #2f3032;

        transition: all 0.3s;

        &:hover {
            color: var(--theme-primary);
        }

        &_active {
            background: rgba(254, 159, 67, 0.08);
            border-radius: 5px;
            color: var(--theme-primary);
        }
    }

    .menu__link {
        color: currentColor;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link-icon {
        width: 2rem;
        height: 2rem;

        margin-right: 1rem;

        flex-shrink: 0;
        .icon {
            width: 100%;
            height: 100%;
            stroke: currentColor;
        }
    }

    .link-title {
        display: block;
    }
}

.sidebar-desktop {
    position: relative;
    width: $sidebar-width-short;
    
    .sidebar-menu {
        position: fixed;
        padding: 2rem 1rem;
        top: $account-header-height-l;
        left: 0;
        width: $sidebar-width-short;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link-icon { 
        margin-right: 0;
    }

    .link-title {
        display: none;
    }


    &.sidebar_expanded {
        width: $sidebar-width-full;
        .sidebar-menu {
            padding: 2rem 4rem;
            width: $sidebar-width-full;
        }

        .menu {
            align-items: flex-start;
        }

        .link-icon {
            margin-right: 1rem;
        }

        .link-title {
            display: block;
        }
    }
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: $account-header-height-ms;
    transform: translateX(-$sidebar-width-full);
    will-change: transform;

    transition: all 0.3s ease-out;

    &.sidebar-mobile_expanded {
        transform: translateX(0);
    }
}

@media screen and (max-width: $bp-ms) {
    .sidebar {
        .menu__item {
            font-size: 1.6rem;
        }
    }
    .sidebar-desktop {
        display: none;
    }
}
