.btn,
a.btn:visited,
a.btn:link {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    background-color: transparent;
    border: 1px solid transparent;

    font-family: $font-primary;
    text-decoration: none;
    line-height: 100%;
    text-transform: capitalize;

    cursor: pointer;
    user-select: none;
    outline: none;

    transition: all 0.4s;

    .btn__text {
        transition: all 0.4s;
    }

    .icon {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}

/* PRIMARY */

.btn.btn-primary:enabled,
a.btn.btn-primary:link,
a.btn.btn-primary:visited {
    padding: 0rem 2.2rem;
    border-radius: 4px;
}

/* INFO */

.btn.btn-info:enabled,
a.btn.btn-info:link,
a.btn.btn-info:visited {
    .btn__text {
        color: $color-white;
    }
    background-color: $color-blue;
}
.btn.btn-info:enabled:hover,
a.btn.btn-info:hover,
a.btn.btn-info:hover {
    background-color: lighten($color-blue, 15%);
}

/* DEFAULT */

.btn.btn-default:enabled,
a.btn.btn-default:link,
a.btn.btn-default:visited {
    .btn__text {
        color: rgba(0, 0, 0, 0.88);
    }
    background-color: $color-white;
    border: 1px solid rgb(217, 217, 217);
}
.btn.btn-default:enabled:hover,
a.btn.btn-default:hover,
a.btn.btn-default:hover {
    border-color: $color-blue;
    .btn__text {
        color: $color-blue;
    }
}

/* WITH ICON */

.btn.btn-with-icon:enabled,
a.btn.btn-with-icon:link,
a.btn.btn-with-icon:visited {
    gap: 1rem;
    height: 4rem;
    .btn__icon {
        height: 100%;
        width: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* TOOL */

.btn.btn-tool:enabled,
a.btn.btn-tool:link,
a.btn.btn-tool:visited {
    width: 4rem;
    height: 4rem;

    border: 1px solid #e8ebed;
    background: $color-white;
    border-radius: 8px;
    padding: 6px;
    .btn__icon {
        width: 100%;
        height: 100%;
    }
}

.btn.btn-tool:enabled:hover,
a.btn.btn-tool:link:hover,
a.btn.btn-tool:visited:hover {
    background-color: $color-gray-dark-m;
}

.btn.btn-tool.btn-delete:enabled,
a.btn.btn-tool.btn-delete:link,
a.btn.btn-tool.btn-delete:visited {
    padding: 8px;
}

/* MODAL */

.btn-modal {
    padding: 0rem 2.2rem;
    border-radius: 0.4rem;
}

/* SECONDARY */

.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited {
    height: 4rem;

    padding: 0.8rem 1.5rem;
    border-radius: 4px;

    font-size: 1.4rem;
    font-weight: 600;

    background-color: $color-btn-secondary-bg;
    border-color: $color-btn-secondary-border;
    box-shadow: inset 0 0 0 0 #377dff;
    color: $color-btn-secondary;
}

/* APPLY */
.btn-apply,
a.btn-apply:link,
a.btn-apply:visited {
    background: #dbecff;
    color: $color-primary;

    &:hover,
    &:active {
        background: $color-primary;
        color: $color-white;
    }
}
/* RESET */

.btn-reset,
a.btn-reset:link,
a.btn-reset:visited {
    background: #f9cccc;
    color: $color-red;
    &:hover,
    &:active {
        background: $color-red;
        color: $color-white;
    }
}
