.ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.ant-table-container,
.ant-table-content {
    height: 100%;
}
#app-table {
    width: 100%;
    height: 100%;
    text-align: start;

    border-spacing: 0;
    border-collapse: collapse;

    font-family: $font-tisa;

    .ant-table-thead {
        .ant-table-cell {
            text-align: inherit;
            white-space: nowrap;
            background-color: #f6f8fbcc;
        }
    }

    .ant-table-cell:first-child {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }
    .ant-table-cell:last-child {
        border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }
    .ant-table-tbody {
        .ant-table-cell {
            padding: 1rem;
            @include table-cell;
        }
        .ant-table-cell-row-hover {
            background-color: #edf1f5;
        }
    }
    .ant-table-row:nth-child(2n) {
        background-color: $color-white;
    }
    .ant-table-row:nth-child(2n + 1) {
        background-color: #f6f8fb95;
    }

   .ant-checkbox-checked .ant-checkbox-inner {
        background-color: $color-primary;
        border-color: $color-primary;
    }

    // tbody tr {
    //     height: 6rem;

    //     border-bottom: 1px solid $color-gray-dark;
    //     transition: all 0.3s ease-in-out;
    //     &:hover {
    //         background-color: $color-gray-dark-m;
    //     }
    // }

    // td {
    //     color: $color-gray-dark-l;
    //     font-weight: 400;
    //     white-space: nowrap;
    // }

    .col-img-text {
        display: flex;
        align-items: center;
        gap: 2rem;

        .col__img-box {
            width: 8rem;
            height: 8rem;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px #e3e3e3 solid;
            border-radius: 6px;
            background-color: #f7f7f7;

            overflow: hidden;

            flex-shrink: 0;
        }

        .col__img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .col__text {
            @include table-cell;
        }
    }

    .col-category {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 0.5rem;
        .category {
            display: flex;
            align-items: center;
            justify-content: center;

            max-width: 12rem;

            padding: 0.8rem 1.1rem;

            border-radius: 4px;
            // background-color: #e7f3ff;
            border: 1px solid #e7f3ff;

            color: $color-primary;
            line-height: 1;
        }
    }

    .actions-cell {
        .actions-list {
            display: flex;
            gap: 0.2rem;
        }
        .actions__item {
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .actions__link {
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
}

.ant-table-filter-dropdown {
    .filter {
        .filter__inner {
            padding: 1.5rem 1.8rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .filter-select {
            width: 25rem;
        }

        .user-actions {
            display: flex;
            align-items: center;
            gap: 1rem;

            align-self: flex-end;
        }

        .btn {
            padding: 0.6rem 0.8rem;

            width: min-content;
            align-self: flex-end;

            border-radius: 4px;
        }
    }
}
