.table {
    width: 100%;
    text-align: start;

    border-spacing: 0;
    border-collapse: collapse;
    thead {
        background-color: $color-gray-light;
    }

    th,
    td {
        padding: 1rem;
        font-size: 1.4rem;
    }

    th {
        text-align: inherit;

        font-weight: 600;
        color: $color-blue-dark-l;

        white-space: nowrap;
    }

    tbody tr {
        height: 6rem;

        border-bottom: 1px solid $color-gray-dark;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $color-gray-dark-m;
        }
    }

    td {
        color: $color-gray-dark-l;
        font-weight: 500;
        white-space: nowrap;
    }

    .table-header {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .table-header-sort-buttons {
            display: flex;
            flex-direction: column;
        }

        .btn {
            height: 4rem;
            width: 4rem;

            padding: 0.5rem;

            display: flex;
            justify-content: center;
        }

        .btn-icon-svg {
            display: block;
            width: 100%;
            height: auto;
            max-height: 100%;
        }

        .btn-increase {
            align-items: flex-end;
            padding-bottom: 0;
        }

        .btn-decrease {
            align-items: flex-start;
            padding-top: 0;
        }
    }

    .actions-cell {
        .actions-list {
            display: flex;
            gap: 1.5rem;
        }
        .actions__item {
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .actions__link {
            display: flex;
            height: 100%;
            width: 100%;
        }
        .link-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .link-icon-svg {
            width: 1.8rem;
            max-height: 1.8rem;
        }
    }
}
