.form-layout-1 {
    .form {
        .fields-basic {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 2.4rem;
            column-gap: 2rem;

            .input-group-name {
                grid-column: 1 / 4;
                grid-row: 1 / 2;
            }

            .input-group-categories {
                grid-column: 4 / 7;
                grid-row: 1 / 2;
            }

            .input-group-price {
                grid-column: 7 / 8;
                grid-row: 1 / 2;
            }

            .input-group-unit {
                grid-column: 8 / 9;
                grid-row: 1 / 2;
            }

            .input-group-brand {
                grid-column: 1 / 4;
                grid-row: 2 / 3;
            }

            .input-group-quantity {
                grid-column: 4 / 5;
                grid-row: 2 / 3;
            }
        }

        .fields-additional {
            display: grid;
            row-gap: 2.4rem;

            grid-template-columns: 1fr;
            // grid-template-rows: 40rem;
            // column-gap: 2rem;
            justify-content: space-between;
            .input-group-description {
                min-height: 40rem;
            }
        }
    }
}

@media screen and (max-width: $bp-ms) {
    .form-layout-1 {
        .form {
            .fields-basic {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(3, auto);
                .input-group-name {
                    grid-column: 1 / 4;
                    grid-row: 1 / 2;
                }

                .input-group-categories {
                    grid-column: 4 / 7;
                    grid-row: 1 / 2;
                }

                .input-group-price {
                    grid-column: 1 / 4;
                    grid-row: 2 / 3;
                }

                .input-group-unit {
                    grid-column: 1 / 4;
                    grid-row: 3 / 4;
                }

                .input-group-brand {
                    grid-column: 4 / 7;
                    grid-row: 3 / 4;
                }

                .input-group-quantity {
                    grid-column: 4 / 7;
                    grid-row: 2 / 3;
                }
            }
        }
    }
}

@media screen and (max-width: 599px) {
    .form-layout-1 {
        .form {
            .fields-basic {
                grid-template-columns: 1fr;

                .input-group-name {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }

                .input-group-categories {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }

                .input-group-price {
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                }

                .input-group-unit {
                    grid-column: 1 / 2;
                    grid-row: 4 / 5;
                }

                .input-group-brand {
                    grid-column: 1 / 2;
                    grid-row: 5 / 6;
                }

                .input-group-quantity {
                    grid-column: 1 / 2;
                    grid-row: 6 / 7;
                }
            }
        }
    }
}
