.form-layout-1 {
    .form {
        .fields-basic {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 2.4rem;
            column-gap: 2rem;

            .input-group-name {
                grid-column: 1 / 4;
                grid-row: 1 / 2;
            }

            .input-group-category {
                grid-column: 4 / 7;
                grid-row: 1 / 2;
            }

            .input-group-price {
                grid-column: 7 / 8;
                grid-row: 1 / 2;
            }

            .input-group-units {
                grid-column: 8 / 9;
                grid-row: 1 / 2;
            }

            .input-group-brand {
                grid-column: 1 / 4;
                grid-row: 2 / 3;
            }

            .input-group-quantity {
                grid-column: 4 / 5;
                grid-row: 2 / 3;
            }
        }

        .fields-additional {
            display: grid;
            row-gap: 2.4rem;

            grid-template-columns: 1fr;
            // grid-template-rows: 40rem;
            // column-gap: 2rem;
            justify-content: space-between;
            .input-group-description {
                min-height: 40rem;
            }
        }
    }
}
