.hero-login {
    position: relative;
    height: 100%;
    width: 100%;

    .parallax {
        position: absolute;
        display: block;
        max-width: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);
    }

    .bg {
        position: absolute;
        display: block;

        width: 800px;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .calendar {
        width: 250px;
        top: 40%;
        left: 15%;
        z-index: 2;
        animation: floatingImages 2s infinite alternate;
    }

    .charts {
        width: 250px;
        top: 60%;
        left: 85%;
        z-index: 2;
        animation: floatingImages 2.5s infinite alternate 2s;
    }
}

@keyframes floatingImages {
    0% {
        transform: translate(-50%, -58%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}